<div class="md-dialog-container">
  <h3 mat-dialog-title>Добавление пользователя</h3>
	<form class="mat-dialog-content" [formGroup]="editPersonReactiveForm">
		<div class="form">
			<mat-form-field>
				<input matInput placeholder="Имя*" formControlName="name" type="text" name="name" id="person-name">
			</mat-form-field>
		</div>
		<div class="form">
			<mat-form-field>
				<input matInput placeholder="Фамилия*" formControlName="surname" type="text" name="surname" id="person-surname">
			</mat-form-field>
		</div>
		<div class="form">
			<mat-form-field>
				<input matInput placeholder="Отчество" formControlName="middleName" type="text" name="middlename" id="person-middlename">
			</mat-form-field>
		</div>
		<div class="form">
			<mat-form-field>
				<input matInput placeholder="Телефон*" [textMask]="{mask: phoneMask}" formControlName="phone" name="tel" id="person-phone" >
			</mat-form-field>
		</div>
		<div class="form">
			<mat-form-field>
				<input matInput placeholder="Дополнительный телефон" formControlName="additionalPhone" name="tel" id="person-add-phone" [textMask]="{mask: phoneMask}">
			</mat-form-field>
		</div>
		<div class="form">
			<mat-form-field>
			<input matInput [matDatepicker]="dataPicker" placeholder="Дата рождения" formControlName="birthday">
			<mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
			<mat-datepicker #dataPicker></mat-datepicker>
		  </mat-form-field>
		</div>
		<div class="form">
			<mat-form-field>
				<input matInput placeholder="Почта*" formControlName="email" type="email" name="email" id="person-email">
				<mat-error *ngIf="editPersonReactiveForm.controls['email'].invalid">
					Пожалуйста, введите правильный e-mail.
				</mat-error>
			</mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [disabled]="editPersonReactiveForm.invalid" [mat-dialog-close]="1" (click)="onConfirm()">Добавить</button>
      <button mat-button (click)="onCancel()" tabindex="-1">Отменить</button>
    </div>
	</form>
</div>