<div style="padding: 10px;word-wrap: break-word;">
	{{ diagnostic() }}
</div>
<div class="person-creation-form">
	<form [formGroup]="addPersonReactiveForm">
		<div>
			<mat-form-field>
				<input matInput placeholder="Имя" formControlName="name" type="text" name="name" id="person-name">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field>
				<input required matInput placeholder="Фамилия" formControlName="surname" type="text" name="surname" id="person-surname">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field>
				<input matInput placeholder="Отчество" formControlName="middlename" type="text" name="middlename" id="person-middlename">
			</mat-form-field>
		</div>
		<div>
				<mat-form-field>
					<input matInput placeholder="Почта" formControlName="email" type="email" name="email" id="person-email">
					<mat-error *ngIf="addPersonReactiveForm.controls['email'].invalid">
						Please enter a valid email address
					</mat-error>
				</mat-form-field>
		</div>
		<div>
			<mat-form-field>
				<span matPrefix>+7 &nbsp;</span>
				<input matInput placeholder="Телефон" formControlName="phone" name="tel" id="person-phone" mask="+7 (999) 999-99-99">
			</mat-form-field>
		</div>
	</form>
</div>