<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" [routerLink]="['/']">Mathsite admin page.</a>
    </div>
    <ul class="nav navbar-nav">
      <li> <a [routerLink]="['/']" routerLinkActive="active">posts</a></li>
      <li> <a [routerLink]="['/users']" routerLinkActive="active">Пользователи</a></li>
      <li> <a [routerLink]="['/persons']" routerLinkActive="active">Лица</a></li>
      <li> <a [routerLink]="['/professors']" routerLinkActive="active">Преподаватели</a></li>
    </ul>
  </div>
</nav>