<div class="md-dialog-container">
  <h3 mat-dialog-title>Редактирование: {{user.login}}</h3>
	<form class="mat-dialog-content" [formGroup]="formGroup">
		<div class="form">
			<mat-form-field>
				<input matInput placeholder="Логин*" formControlName="login" type="text" name="login">
			</mat-form-field>
		</div>
		<div class="form">
			<mat-form-field>
				<input matInput placeholder="Пароль*" formControlName="password" type="password" name="password">
			</mat-form-field>
		</div>
		<div class="form">
			<mat-form-field>
					<input matInput placeholder="Лицо*"  formControlName="person" type="formControl" name="person" [matAutocomplete]="auto">
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option *ngFor="let person of filteredPersons | async" [value]="person">
							{{person.surname}} {{person.name}}
						</mat-option>
					</mat-autocomplete>
			</mat-form-field>
		</div>
    <div mat-dialog-actions>
      <button mat-button [disabled]="formGroup.invalid" [mat-dialog-close]="1" (click)="onConfirm()">Сохранить</button>
      <button mat-button (click)="onCancel()" tabindex="-1">Отменить</button>
    </div>
	</form>
</div>