<div class="md-dialog-container">
  <h3 mat-dialog-title>Редактирование: {{user.login}}</h3>
  <div *ngIf="loading$ | async">
      <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
	<form [formGroup]="formGroup">
		<div class="form">
			<mat-form-field>
				<input matInput placeholder="Логин" formControlName="login" type="text" name="login">
			</mat-form-field>
		</div>
		<div class="form">
			<mat-form-field>
				<input matInput placeholder="Пароль*" formControlName="password" type="password" name="password">
			</mat-form-field>
		</div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Повторите пароль*" formControlName="passwordRepeat" type="password" name="passwordRepeat">
        <mat-error *ngIf="formGroup.controls.passwordRepeat.invalid">
					Пароли не совпадают
				</mat-error>
      </mat-form-field>
		</div>
		<div class="form">
      <mat-form-field>
        <input matInput placeholder="Группа*" formControlName="group" name="group" [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let group of groups | async" [value]="group">
            {{group.alias}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Лицо*" formControlName="person" name="person" [matAutocomplete]="auto2">
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let person of persons | async" [value]="person">
            {{person.surname}} {{person.name}} {{person.birthday}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [disabled]="formGroup.invalid" (click)="onConfirm()">Сохранить</button>
      <button mat-button (click)="onCancel()" tabindex="-1">Отменить</button>
    </div>
	</form>
</div>