<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <ul>
        <li>
          <a [routerLink]="['/addProfessors']">Добавить преподавателя</a>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="mat-elevation-z8">
      <div class="form">
        <mat-form-field>
          <input matInput #filterSurname placeholder="Поиск по фамилии" #input>
        </mat-form-field>
      </div>
      <div *ngIf="dataSource.loading$ | async">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
      <mat-table [dataSource]="dataSource">
        <!-- выбор -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="snm">
          <mat-header-cell *matHeaderCellDef>
            <div>ФИО</div>
          </mat-header-cell>
          <mat-cell *matCellDef="let professor">
            {{professor.person.surname}} {{professor.person.name}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="faculty">
          <mat-header-cell *matHeaderCellDef>Факультет</mat-header-cell>
          <mat-cell *matCellDef="let professor">
            {{professor.faculty}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="department">
          <mat-header-cell *matHeaderCellDef>Кафедра</mat-header-cell>
          <mat-cell *matCellDef="let professor">
            {{professor.department}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="creationDate">
          <mat-header-cell *matHeaderCellDef>Дата создания</mat-header-cell>
          <mat-cell *matCellDef="let professor">
            {{professor.creationDate | date}}
          </mat-cell>
        </ng-container>
        <!-- колонка с кнопками-->
        <ng-container matColumnDef="actionsColumn">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" (click)="addProfessor()">
              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
            <button mat-icon-button [disabled]="selection.selected.length == 0" color="primary" (click)="deleteProfessor()">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="editUser(row)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row (click)="selection.toggle(row)" *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
      </mat-table>
      <mat-paginator [length]="(dataSource.dataCount$ | async)" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>