<div class="mat-elevation-z8">
  <div class="form">
    <mat-form-field>
        <input  matInput #filterName placeholder="Поиск по имени" #input>
    </mat-form-field>
    <mat-form-field>
        <input matInput #filterSurname placeholder="Поиск по фамилии" #input>
    </mat-form-field>
  </div>
    <div *ngIf="dataSource.loading$ | async">
      Загрузка...
    </div>
  <mat-table matSort [dataSource]="dataSource">
      <!-- выбор -->
      <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
      <!-- имя -->
      <ng-container matColumnDef="name">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
        <div>Имя</div></mat-header-cell>
        <mat-cell *matCellDef="let person">
          {{person.name}}
        </mat-cell>
      </ng-container>
      <!-- фамилия -->
      <ng-container matColumnDef="surname">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Фамилия</mat-header-cell>
        <mat-cell *matCellDef="let person">
          {{person.surname}}
        </mat-cell>
      </ng-container>
      <!-- отчество -->
      <ng-container matColumnDef="middleName">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Отчество</mat-header-cell>
        <mat-cell *matCellDef="let person">
          {{person.middleName}}
        </mat-cell>
      </ng-container>
      <!-- Почта -->
      <ng-container matColumnDef="email">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Почта</mat-header-cell>
        <mat-cell *matCellDef="let person">
          {{person.email}}
        </mat-cell>
      </ng-container>
      <!-- телефон -->
      <ng-container matColumnDef="phone">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Телефон</mat-header-cell>
        <mat-cell *matCellDef="let person">
          {{person.phone}}
        </mat-cell>
      </ng-container>

      <!-- Доп. телефон -->
      <ng-container matColumnDef="additionalPhone">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Доп. телефон</mat-header-cell>
        <mat-cell *matCellDef="let person">
          {{person.additionalPhone}}
        </mat-cell>
      </ng-container>
      <!-- Дата рождения -->
      <ng-container matColumnDef="birthday">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Дата рождения</mat-header-cell>
        <mat-cell *matCellDef="let person">
          {{person.birthday | date}}
        </mat-cell>
      </ng-container>
      <!-- колонка с кнопками-->
      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addPerson()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
        <button mat-icon-button [disabled]="selection.selected.length == 0" color="primary" (click)="deletePerson()">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="editPerson(row)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>

        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
  </mat-table>
  <mat-paginator [length]="(dataSource.personsNumber$ | async)" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons></mat-paginator>
</div>